.max-width {
    min-height: 1000px
}
.short-cut-group {
    color: black;
    font-weight: 500;
}
.short-cut-group:hover {
    background-color: rgb(170, 175, 179);
}
.create-group {
    background-color: rgb(149, 149, 228);
    border: none;
}
.create-group:hover {
    opacity: 0.8;
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background: white;
    border-radius: 8px;
    padding: 20px;
    max-width: 600px;
  }


