.card {
  overflow: visible !important;
}

/* .hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
} */





.hide-scrollbar {
  overflow: auto;
  scrollbar-width: none; /* for Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
}

.hide-scrollbar:hover {
  scrollbar-width: thin; /* for Firefox */
}

.hide-scrollbar:hover::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.hide-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.3); /* Customize */
  border-radius: 4px;
}


/* .hide-scrollbar */

body {
  min-height: 100vh;
  display: flex;
  overflow-x: hidden;
}

* {
  line-height: 1.15;
}