.card {
    overflow: visible !important;
  }
  .hide-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
  }
  
  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
  
  body {
    min-height: 100vh;
    display: flex;
    overflow-x: hidden;
}